<!DOCTYPE html>
<html lang="en">

<head>
  <title>Aident</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div class="all">
    <div class="top">
      <h1>Aident</h1>
      <p>Make your city smart, secure, and accessible through technology</p>
    </div>

    <form action="/single" method="POST" enctype="multipart/form-data">
      <input class="input-file" id="my-file" type="file" name="video" multiple>
      <p>Select files. Or drag your files here.</p>
      <button><input type="submit">Upload<input></button>
    </form>
  </div>

</body>

</html>