<!DOCTYPE html>
<html lang="en">

<head>
  <title>Aident</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <div class="all">
    <div class="top">
      <h1>Aident</h1>
      <p>Make your city smart, secure, and accessible through technology</p>
    </div>

    <form action="/single" method="POST" enctype="multipart/form-data">
      <input class="input-file" id="my-file" type="file" accept="video/*" name="video" multiple>
      <p>Tap or click here to select your video.</p>
      <button><input type="submit" />Upload</button>
    </form>
  </div>
</body>

{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}

</html>